.game-board
{
width: 500px;
height: 500px;
margin: 0 auto;
background-color: #2e4257;
color: #fff;
border: 6px solid #2c3e50;
border-radius: 10px;
display: grid;
grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}